* {
  margin: 0;
  padding: 0; }

html, body {
  background: #EAEAEA !important; }

#top {
  background: white;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  height: 3rem;
  color: #999; }
  #top img {
    width: 30%; }
  #top h3 {
    color: black;
    font-size: 1.2rem; }
  #top p {
    font-size: 0.6rem;
    margin-top: 0.2rem;
    text-align: center; }
  #top .iconfont {
    font-size: 1rem; }
  #top > div {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-around; }
    #top > div > div {
      margin-left: 1rem; }

#bj {
  background: white;
  padding-bottom: 1rem;
  text-align: center; }
  #bj #bt {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #bj #bt .xian {
      width: 35%;
      height: 0.3rem;
      border-top: 0.07rem solid gainsboro; }
    #bj #bt img {
      width: 3rem; }
  #bj p {
    padding: 0.6rem;
    font-size: 1rem;
    margin-top: 0.4rem;
    text-align: center; }
  #bj #inp input {
    width: 85%;
    font-size: 0.8rem;
    margin: 0.7rem auto;
    height: 1.8rem; }
  #bj select {
    width: 85%;
    margin: 0.7rem auto;
    font-size: 0.8rem;
    height: 1.8rem; }
  #bj .zy {
    display: flex;
    justify-content: space-between; }
    #bj .zy select {
      width: 34%; }
  #bj #sx {
    display: flex;
    justify-content: space-between;
    margin-top: -0.6rem; }
    #bj #sx select {
      width: 23.5%; }
    #bj #sx select:nth-of-type(2) {
      margin-left: -0.3rem; }
    #bj #sx select:nth-of-type(3) {
      margin-left: -0.3rem; }
  #bj button {
    color: white;
    width: 80%;
    height: 1.9rem;
    font-size: 0.9rem;
    background: #FEB605; }

#zxbj {
  padding-top: 1rem;
  width: 95%;
  border: 0.07rem dashed #00BE9C;
  margin: 0 auto;
  border-top: 0;
  position: relative;
  margin-top: 2rem; }
  #zxbj p {
    font-size: 0.8rem !important; }
  #zxbj #zbj {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    top: -0.7rem; }
    #zxbj #zbj .xian {
      width: 34%;
      height: 0.05rem;
      border-top: 0.07rem dashed #00BE9C; }
    #zxbj #zbj .xian:nth-of-type(1) {
      margin-right: 1rem; }
    #zxbj #zbj .xian:nth-of-type(3) {
      margin-left: 1rem !important; }
  #zxbj button {
    background: white;
    color: #00B2B2;
    border: 0.05rem solid #00B2B2;
    margin-bottom: 0.5rem; }

#tg {
  background: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  margin-top: 0.6rem;
  font-size: 1rem; }
  #tg #bt {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #tg #bt .xian {
      width: 35%;
      height: 0.3rem;
      border-top: 0.07rem solid gainsboro; }
    #tg #bt img {
      width: 3rem; }
  #tg #xz {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.65rem;
    position: relative;
    margin-top: 1rem; }
    #tg #xz .y1 {
      position: absolute;
      height: 100%;
      width: 0.1rem;
      left: 6.83rem;
      border-left: 0.05rem solid gainsboro; }
    #tg #xz .y2 {
      position: absolute;
      height: 100%;
      width: 0.1rem;
      right: 6.5rem;
      border-left: 0.05rem solid gainsboro; }
    #tg #xz .x1 {
      position: absolute;
      width: 100%;
      height: 0.1rem;
      top: 7.3rem;
      border-top: 0.05rem solid gainsboro; }
    #tg #xz .iconfont {
      font-size: 2rem;
      background: #00BE9C;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      line-height: 3.1rem;
      margin: 0.2rem auto;
      color: white; }
    #tg #xz .icon-protection {
      line-height: 3.5rem; }
    #tg #xz .xz {
      width: 32%;
      padding: 0.06rem; }
      #tg #xz .xz > p:nth-of-type(1) {
        font-size: 1rem; }

#jieshao {
  font-size: 0.9rem;
  background: white;
  margin-top: 1rem;
  padding: 0.4rem; }

#kf {
  text-align: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background: white;
  padding-bottom: 0.5rem; }
  #kf p {
    color: #00B2B2;
    font-size: 0.8rem; }
  #kf span {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: black; }
  #kf > div {
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    margin-top: 1rem; }

#bottom {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  height: 4rem; }
  #bottom #x {
    width: 1.5rem;
    height: 1.5rem; }
  #bottom #free {
    width: 12rem;
    margin-top: 1rem; }
  #bottom > button {
    background: #feb605;
    margin-top: 1.4rem;
    border-radius: 15rem;
    color: white;
    font-size: 0.7rem; }

#dingzhi div {
  font-size: 2rem;
  border-radius: 50%;
  background: white;
  padding-left: 0.24rem;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 20rem;
  right: 0;
  border: 0.2rem solid gainsboro;
  text-align: center;
  line-height: 3rem; }

/*# sourceMappingURL=zxbj.css.map */
