@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #EAEAEA;
}
#top{
    background: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    height: 7rem;
    color: #999;
    img{
        width: 30%;
    }
    h3{
        color: black;
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
        margin-top: 0.4rem;
    }
    
    >div{
        margin-top: 1.6rem;
        >div{
            margin: 1.3rem;
        }
    }
}
img{
    width: 100%;
}
#jieshao{
    margin-top: 2rem;
    font-size: 1.75rem;
    background: white;
    margin-top: 2rem;
    padding: 1.6rem;
}

#kf{
    margin-top: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    background: white;
    p{
        color: #00B2B2;
        font-size: 1.8rem;
    }
    span{
        margin-left: 1rem;
        font-size: 1.8rem;
        color: black;
    }
    >div{
        display: flex;
        justify-content: space-around;
        font-size: 1.6rem;
        margin-top: 1.4rem;
    }
}
#bottom{
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between !important;
    align-items: flex-start;
    height: 7rem;
    padding-right: 0.7rem;
    margin-top: 2rem;
    #x{
        width: 3rem;
        height: 3rem;
    }
    #free{
        width: 20rem;
        margin-top: 1rem;
    }
    >button{
        background: #feb605;
        margin-top: 1.6rem;
        border-radius: 15rem;
        color: white;
        font-size: 1.5rem;
    }
}
#dingzhi{
    div{
        font-size: 4rem;
        border-radius: 50%;
        background: white;
        line-height: 6rem;
        padding-left: 0.55rem;
        width: 6rem;
        height: 6rem;
        position: fixed;
        top: 40rem;
        right: 0;
        border: 0.2rem solid gainsboro;
    }
}
.box{
    width: 100%;
    position: relative;
    .bbox{
        position: absolute;
        font-size: 1.5rem;
    }
}
#zxq{
    .zx{
        top: 2.5rem;
        left: 5rem;
        font-size: 2rem;
        color: red;
    }
    .no1{
        top: 10.4rem;
        left: 9.8rem;  
    }
    .no2{
        top: 18.6rem;
        right: 9.8rem;
    }
    .no3{
        top: 27rem;
        left: 9.8rem;
    }
    .no4{
        top: 35.4rem;
        right: 9.8rem;
    }
}
#zxz{
    .zx{
        top: 2.5rem;
        right: 5rem;
        font-size: 2rem;
        color: #1b9af7;
    }
    .no1{
        top: 10.8rem;
        right: 9.8rem;  
    }
    .no2{
        top: 19.6rem;
        left: 9.8rem;
    }
    .no3{
        top: 28rem;
        right: 9.8rem;
    }
    .no4{
        top: 36.5rem;
        left: 9.8rem;
    }
}
#zxh{
    .zx{
        top: 2.5rem;
        left: 5rem;
        font-size: 2rem;
        color: #7b72e9;
    }
    .no1{
        top: 10.4rem;
        left: 9.8rem;  
    }
    .no2{
        top: 18.6rem;
        right: 9.8rem;
    }
    .no3{
        top: 27rem;
        left: 9.8rem;
    }
    .no4{
        top: 35.6rem;
        right: 9.8rem;
    }
}
